.section1 {
  opacity: 0;
  transform: perspective(1000px) rotateY(90deg);
  transition: opacity 1.8s ease-out, transform 0.8s ease-out;
}

.section1.visible {
  opacity: 1;
  transform: perspective(1000px) rotateY(0deg);
}

.project2 img {
  opacity: 0;
  transform: scale(0.8) rotate(-10deg);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.project2 img.visible {
  opacity: 1;
  transform: scale(1) rotate(0);
}

.project3img img.visible {
  opacity: 1;
  animation: zoomPop 1.8s ease-out;
}

@keyframes zoomPop {
  0% {
    transform: scale(0.5);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.project1img img {
  opacity: 0;
  transform: perspective(1000px) rotateY(90deg);
  transition: opacity 1.8s ease-out, transform 1.8s ease-out;
}

.project1img img.visible {
  opacity: 1;
  transform: perspective(1000px) rotateY(0deg);
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, -2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.typing-h1,
.typing-h2 {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.typing-h2 {
  border-right: 3px solid black; /* This is the "cursor" */
  animation: blink 0.8s infinite;
  height: fit-content;
}
@keyframes blink {
  0% {
    border-color: black;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}

.pdiv {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.pdiv.visible {
  opacity: 1;
  transform: translateY(0);
}
.arrow-up img {
  animation: bounce 1.5s infinite;
  width: 24px; /* Adjust based on your image size */
  height: 24px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
button {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover Animation - Pop Effect */
button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Optional: Add slight rotation on click */
button:active {
  transform: scale(1) rotate(-5deg);
}


