@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
body {
  font-family: "Inter", "Irish Grover", serif;
  width: 100%;
  border: 0;
  margin: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
  overflow: auto;
}

* {
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
}
.header-div {
  width: 100%;
  height: fit-content;
  padding-bottom: 35px;
  position: relative;
}
.dropDownButton {
  display: none;
}

/* Static Header */
.static-header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  box-sizing: border-box;
  background-color: transparent;
}

.header-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 56px;
}

#logo img {
  height: 50px;
}

.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.header-nav ul li a {
  color: #000000;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  position: relative; /* Required for the underline */
  transition: color 0.3s ease;
}

/* Progress Underline Animation */
.header-nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust based on your design */
  width: 0;
  height: 2px;
  background-color: #69d6f9;
  transition: width 0.3s ease;
}

.header-nav ul li a:hover::after {
  width: 100%; /* Full width on hover */
}

.header-nav ul li a:hover {
  color: #69d6f9;
}

.downloadButton {
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 155px;
  height: 40px;
  border-radius: 4px;
  border-width: 1px;
  gap: 10px;
  padding: 10px;
  border: 1px solid #000000;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.downloadButton:hover {
  background-color: #69d6f9;
}

/* Fixed Header */
.fixed-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  transform: translateY(-100%);
  transition: transform 1s ease;
}

.fixed-header.hidden {
  transform: translateY(-100%); /* Hide smoothly when scrolling up */
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
.dropdown {
  display: flex;
  gap: 56px;
  align-items: center;
}
.current {
  color: #69d6f9 !important;
}
a {
  transition: transform 0.3s ease-in-out;
}

a:hover {
  transform: scale(1.1); /* Increase size on hover */
}

a:active {
  transform: scale(0.95); /* Slightly shrink when clicked */
}
/* HEADER AREA ENDS HERE */

/* SECTION1 STARTS HERE (HERO PAGE) */
.section1 {
  background-image: url(images/heroImage.svg);
  width: 100%;
  height: 100vh;
  top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  box-sizing: border-box;
}
.sec1div {
}
.title1 {
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.section1 h1 {
  font-family: Irish Grover;
  font-weight: 400;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: 0%;
  padding-bottom: 24px;
}
.section1 h2 {
  font-family: Irish Grover;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0%;
}
.ptext {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-top: 6px;
}
.pdiv {
  width: 314px;
  height: 60px;
}
.section1 p {
  font-family: PT Serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
/* SECTION ONE ENDS HERE... */

/* SECTION TWO STARTS HERE.. */
.section2 {
  width: 100%;
  height: fit-content;
  padding: 60px 50px;
  gap: 12px;
  box-sizing: border-box;
}
.abtFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.abtFlex h1 {
  font-family: PT Serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0%;
}

.abtFlex p {
  font-family: Arial;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
}
/* SECTION ENDS STARTS HERE.. */

/* SECTION THREE STARTS HERE.. */

.section3 {
  width: 100%;
  height: fit-content;
  padding: 10px 60px;
  box-sizing: border-box;
  gap: 24px;
}
.sec3Flex {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.title3 {
  width: 100%;
}
.title3 h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
}
.title3 p {
  font-family: Inter;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 24px;
}
.innerboxes {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 518px;
  height: 70px;
  border-radius: 10px;
  gap: 12px;
  padding: 10px;
  background: #69d6f9;
}
.innerboxdiv {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.innerboxes h3 {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 22.5px;
  letter-spacing: 0%;
}
.innerboxes p {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22.5px;
  letter-spacing: 0%;
}

.flex2 .p1 {
  font-family: Arial;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
  padding-bottom: 50px;
}
.location {
  display: flex;
  gap: 10px;
  align-items: center;
}
.location h4 {
  font-family: Arial;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
}
.flex2 .p2 {
  font-family: Arial;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
}
.flex2 a {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 12px;
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  width: 148px;
  height: 40px;
  border-radius: 4px;
  border-width: 1px solid #000000;
  gap: 8px;
  justify-content: center;
  padding: 10px;
}
.sketch {
  width: 321px;
  height: 317px;
  top: 9.88px;
  left: 9.17px;
  margin: auto;
}

/* SECTION ENDS STARTS HERE.. */

/* SECTION FOUR STARTS HERE.. */
.section4 {
  width: 100%;
  height: 598;
  padding: 24px 60px;
  box-sizing: border-box;
}
.title4 {
  width: 100%;
  text-align: center;
}
.title4 h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
}
.title4 h3 {
  font-family: Inter;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 12px;
}
.title4 p {
  font-family: Inter;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 12px;
}
.flexboxes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 24px;
}
.boxes {
  width: 360px;
  height: 332px;
  gap: 24px;
  padding: 20px;
  background: #dad9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.boxes h1 {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.boxes p {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

/* SECTION FOUR ENDS HERE.. */

/* SECTION FIVE STARTS HERE.. */
.section5 {
  width: 100%;
  height: fit-content;
  padding: 10px 60px;
  box-sizing: border-box;
}
.title5 h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
}
.title5 h3 {
  font-family: Inter;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
.project1 img {
  width: 1230px;
  margin: auto;
}
.project1img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.project1 {
  width: 100%;
  box-sizing: border-box;
  padding-top: 24px;
}
.titlediv {
  display: flex;
  gap: 10px;
  padding-top: 12px;
}
.titlediv p {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;

  width: fit-content;
  padding: 10px;
  border: 1px solid #000000;
}
.projectdetails h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0%;
}
.projectdetails p {
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
}
.project-flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.project2 img {
  width: 650px;
  height: 645px;
}
.project3 img {
  width: 508px;
  height: 553px;
}
/* SECTION FIVE ENDS HERE.. */

/* SECTION SIX STARTS HERE.. */
.section6 {
  width: 100%;
  padding: 24px 60px;
  box-sizing: border-box;
}
.title6 h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
}
.title6 h3 {
  font-family: Inter;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 12px;
}
.sec6flex-container {
  width: 100%;
  display: flex;
  padding: 39px 0px;
  gap: 24px;
  padding-top: 24px;
}
.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 56px;
}
.form-div {
  width: 100%;
}
.details input {
  width: 402.5;
  height: 60;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
  border-bottom: 1px solid #000000;
}
form {
  width: 100%;
}
.textbox {
  width: 100%;
  display: flex;
  flex-direction: column;
}
textarea {
  width: 100%;
  height: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
  border-bottom: 1px solid #000000;
  resize: none;
}
.message1 {
  padding-top: 24px;
}
.submit {
  width: 120px;
  height: 40px;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  gap: 2px;
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
  margin-top: 24px;
}
.contact-box {
  width: 50%;
  box-sizing: border-box;
}
.contact-link {
  display: flex;
  gap: 40px;
  align-items: center;
}
.social-link {
  padding-bottom: 48px;
}
.social-link a {
  display: flex;
  text-decoration: none;
  color: #000000;
  gap: 10px;
  align-items: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0%;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.links p {
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0%;
}
.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.footer-arrow {
  display: flex;
  align-items: center;
  gap: 4px;
}
.footer2 {
  display: none;
}
@media screen and (max-width: 950px) {
  #logo img {
    width: 140px;
    height: 20px;
  }
  .nav-div {
    display: none;
    position: absolute;
    top: 100%;
    width: 97%;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* subtle shadow */
  }
  .nav-div.active {
    display: block;
  }

  .header-nav ul {
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
  .header-nav ul li {
    border: 1px solid #0000004d;
    width: 100%;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    background: #f6f4e9;
  }
  .dropDownButton {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center spans horizontally */
    justify-content: center; /* Center spans vertically */
    gap: 2px;
    position: relative; /* Required for absolute positioning of child spans */
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
 /* Prevent spans from overflowing */
  }

  .dropDownButton span {
    display: block; /* Ensure spans are visible */
    width: 30px; /* Adjust as needed */
    height: 2px; /* Adjust as needed */
    background-color: black; /* For visibility */
    position: absolute; /* Remove spans from document flow */
    transition: transform 0.3s ease, opacity 0.3s ease, top 0.3s ease, left 0.3s ease;
  }

  /* Optional: Add styles to visualize the spans */
  .dropDownButton .span1 {
    background-color: #000000;
    top: 5px;
  }
  .dropDownButton .span2 {
    background-color: #000000;
  }
  .dropDownButton .span3 {
    background-color: #000000;
    bottom: 5px;
  }

  .buttonArea {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .downloadButton {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    width: 89px;
    height: 31px;
    padding-top: 8px;
    padding-right: 6px;
    padding-bottom: 8px;
    padding-left: 6px;
    gap: 10px;
    border-width: 1px;
    border-radius: 2px;
  }
  .header-container {
    width: 100%;
    height: 43px;
    top: 50px;
    justify-content: space-between;
    padding: 6px 16px;
  }

  /* HEADER AREA ENDS HERE */

  /* SECTION ONE STARTS HERE... */

  .section1 {
    padding: 30px 16px;
    width: 100%;
    height: 100vh;
    background-image: url(images/mobile-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1.typing-h1 {
    font-family: Irish Grover;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0%;
  }
  h2.typing-h2 {
    font-family: Irish Grover;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
  }
  .pdiv p {
    font-family: PT Serif;
    font-weight: 400;
    font-style: italic;
    font-size: 10px;
    line-height: 12.5px;
    letter-spacing: 0%;
  }
  .pdiv {
    width: 134px;
    height: 26px;
  }

  /* SECTION ONE ENDS HERE... */

  /* SECTION TWO STARTS HERE.... */
  .section2 {
    padding: 6px 16px;
  }
  .abtFlex {
    flex-direction: column;
  }
  .section2 h1 {
    font-family: PT Serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
  }
  .section2 p {
    font-family: Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0%;
  }
  .abtFlex img {
    width: 277px;
    height: 241px;
  }

  /* SECTION2 ENDS HERE... */

  /* SECTION3 STARTS HERE... */

  .section3 {
    padding: 6px 16px;
  }
  .title3 h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }
  .title3 {
    width: 100%;
  }
  .title3 p {
    width: 100%;
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 4px;
  }
  .sec3Flex {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .flex1 {
    box-sizing: border-box;
  }
  .innerboxes img {
    width: 12px;
    height: 12px;
    border-width: 1px;
    border-radius: 50px;
  }
  .innerboxes {
    width: 100%;
    height: 46px;
    padding-top: 8px;
    padding-right: 6px;
    padding-bottom: 8px;
    padding-left: 6px;
    gap: 6px;
    border-radius: 6px;
    box-sizing: border-box;
  }
  .innerboxes h3 {
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0%;
  }
  .innerboxes p {
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.5px;
    letter-spacing: 0%;
  }
  .sketch {
    width: 191px;
    height: 189px;
    top: 5.84px;
    left: 5.43px;
  }
  .flex2 .p1 {
    font-family: Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0%;
  }
  .location h4 {
    font-family: Arial;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0%;
  }
  .location .p2 {
    font-family: Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0%;
  }
  .flex2 a {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    width: 74px;
    height: 31px;
    padding-top: 8px;
    padding-right: 6px;
    padding-bottom: 8px;
    padding-left: 6px;
    gap: 2px;
    border-width: 1px;
    border-radius: 2px;
  }
  .flex2 a img {
    width: 12px;
    height: 12px;
  }

  /* SECTION THREE ENDS HERE... */

  /* SECTION FOUR STARTS HERE.. */

  .section4 {
    padding: 6px 16px;
  }
  .title4 h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }
  .title4 h3 {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 6px;
  }
  .title4 p {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 6px;
  }
  .flexboxes {
    display: grid;
    grid-template-columns: auto auto;
    gap: 4px;
  }
  .boxes {
    width: 156px;
    height: 130px;
    gap: 2px;
    padding: 6px;
  }
  .boxes img {
    width: 30px;
    height: 30px;
  }
  .boxes h1 {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 0%;
    text-align: center;
  }
  .boxes p {
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.5px;
    letter-spacing: 0%;
    text-align: center;
  }
  .lastbox {
    margin: auto;
  }

  /* SECTION FOUR ENDS HERE.. */

  /* SECTION FIVE ENDS HERE... */
  .section5 {
    padding: 6px 16px;
  }
  .title5 h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }
  .title5 h3 {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 0%;
    text-align: center;
  }
  .project1img img {
    width: 100%;
    height: 234px;
    left: 16px;
  }
  .titlediv {
    padding: 0px;
  }
  .titlediv p {
    width: fit-content;
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.5px;
    letter-spacing: 0%;
    height: fit-content;
  }
  .projectdetails h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0%;
  }
  .projectdetails {
    padding-bottom: 6px;
  }
  .projectdetails p {
    font-family: Inter;
    font-weight: 600;
    font-size: 11px;
    line-height: 13.75px;
    letter-spacing: 0%;
  }
  .project2img img {
    width: 100%;
    height: 100%;
  }
  .project-flex {
    width: 100%;
    gap: 10px;
    justify-content: center;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
  }
  .project2 {
    width: 100%;
  }
  .project3img img {
    width: 100%;
    height: 330px;
  }
  .project3 {
    width: 100%;
  }
  .section6 {
    padding: 6px 16px;
    height: fit-content;
    padding-bottom: 0px;
  }
  .title6 h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: center;
  }
  .title6 h3 {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 114.99999999999999%;
    letter-spacing: 0%;
    text-align: center;
  }
  .sec6flex-container {
    flex-direction: column;
  }
  .form-div {
    width: 100%;
    box-sizing: border-box;
  }
  .details {
    flex-direction: column;
  }
  .contact-box {
    width: 100%;
    display: flex;
    height: 43px;
    align-items: center;
    gap: 2px;
    padding: 0;
    justify-content: center;
  }
  .social-link img {
    width: 30px;
    height: 30px;
    padding: 0;
  }
  .social-link {
    gap: 6px;
    padding: 0;
    padding-right: 2px;
    height: 100%;
  }
  .links a img {
    width: 9.6px;
    height: 9.6px;
  }
  .links {
    gap: 3px;
  }
  .links a {
    font-family: Inter;
    font-weight: 500;
    font-size: 10px;
    line-height: 125%;
    letter-spacing: 0%;
    gap: 2px;
  }
  .contact-link img {
    width: 25.88px;
    height: 25.83px;
  }
  .links p {
    font-family: Inter;
    font-weight: 500;
    font-size: 10px;
    line-height: 125%;
    letter-spacing: 0%;
  }
  .contact-link {
    gap: 3px;
    padding-right: 4px;
    border-right: 1px solid #000000 !important;

    height: 100%;
  }
  .footer2 {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .footer2 p {
    font-family: Inter;
    font-weight: 400;
    font-size: 8px;
    line-height: 125%;
    letter-spacing: 0%;
    flex-wrap: nowrap;
  }
  .footer {
    display: none;
  }
  .footer-arrow {
    flex-wrap: nowrap;
  }
}
